/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* Themes */
html.default {
	--grid-width: 1280px;
	--background-position: center;
	--background-size: cover;
	--background-image: none;
	--background-opacity: 0.1;
	--background-filter: none;
	--image: url(../media/default/cat.gif);
	--image-aspect-ratio: 1/1;
	--image-filter: none;
	--color-bg: #1e1e2e;
	--color-fg: #d9e0ee;
	--color-link: #8f9191;
	--color-link-visited: #8f9191;
	--color-link-hover: #ffb7f5ec;
	--color-link-title: #eadbb2;
	--border-color: #d9e0ee;
	--border-style: solid;
	--border-radius: 12px;
	--scrollbar-primary: #ff79c6;
	--scrollbar-secondary: #101041;
}

html.vapor {
	--image: url(../media/vapor/clouds.gif);
	--border-color: #ff79c6;
	--scrollbar-primary: #d93493;
	--scrollbar-secondary: #1b1739;
}

html.eldenring-start {
	--background-image: url(../media/eldenring/eldenring-bg.jpg);
	--background-filter: var(--image-filter);
	--image: url(../media/eldenring/press-start.webp);
	--image-filter: hue-rotate(calc(var(--hue-rotate) / -1));
	--hue-rotate: -55deg;
	--scrollbar-primary: #17362b;
	--scrollbar-secondary: #c97147;

	filter: hue-rotate(var(--hue-rotate));
}

html.eldenring-ranni {
	--image: url(../media/eldenring/ranni-the-witch.webp);
	--image-filter: hue-rotate(calc(var(--hue-rotate) / -1)) saturate(0.4)
		contrast(1.1);
	--color-link: #9c97a0;
	--color-link-title: #eab2b2;
	--hue-rotate: 5deg;
	--scrollbar-primary: #db67aa;

	filter: hue-rotate(var(--hue-rotate)) saturate(2);
}

html.eldenring-ranni-dark-moon {
	--image: url(../media/eldenring/ranni-dark-moon.webp);
	--image-aspect-ratio: 3/4;
	--image-filter: hue-rotate(calc(var(--hue-rotate) / -1)) saturate(0.4)
		contrast(0.9);
	--color-fg: #bdbfc8;
	--color-link: #8b8a92;
	--color-link-visited: #8b82ab;
	--color-link-hover: #a260f5;
	--color-link-title: #b7acef;
	--hue-rotate: -16deg;
	--canvas-filter: brightness(0.7) contrast(0.84) hue-rotate(20deg) opacity(0.2);
	--scrollbar-primary: #5e72fc;

	filter: hue-rotate(var(--hue-rotate)) saturate(2) contrast(1.2);
}

html.eldenring-potboy {
	--image: url(../media/eldenring/potboy.gif);
	--image-filter: hue-rotate(calc(var(--hue-rotate) / -1)) saturate(0.4)
		contrast(1.1);
	--color-link: #9c97a0;
	--color-link-visited: #ffcccc;
	--color-link-hover: #ff7979;
	--color-link-title: #eab2b2;
	--hue-rotate: -15deg;
	--scrollbar-primary: #da486a;

	filter: hue-rotate(var(--hue-rotate)) saturate(2);
}

html.halo {
	--background-position: 40% 100%;
	--background-image: url(../media/halo/halo-ring-bg.jpg);
	--background-filter: hue-rotate(calc(var(--hue-rotate) / -1)) saturate(1.3)
		contrast(0.8);
	--image: url(../media/halo/halo.gif);
	--image-aspect-ratio: 3/2;
	--image-filter: hue-rotate(calc(var(--hue-rotate) / -1)) saturate(1.1)
		contrast(0.9);
	--color-fg: #c1c3c9;
	--color-bg: #202020;
	--color-link: #9997a3;
	--color-link-visited: #a6a6a6;
	--color-link-hover: #a260f5;
	--color-link-title: #ac9bff;
	--hue-rotate: 10deg;
	--canvas-filter: brightness(0.6) contrast(0.9) hue-rotate(20deg) opacity(0.1);
	--scrollbar-primary: #74923e;

	filter: hue-rotate(var(--hue-rotate)) saturate(1) contrast(1.2);
}

/* Body and Elements */
html,
body {
	background-color: var(--color-bg);
	color: var(--color-fg);
	text-align: center;
	font-family: "Ubuntu";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

canvas {
	filter: var(--canvas-filter);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 0;
	object-fit: cover;
}

#Date {
	font-family: "Bebas Neue";
	font-weight: 500;
	font-size: 40px;
	min-width: 1px;
	min-height: 52px;
	margin: 25px 0;
}

@media only screen and (max-width: 900px) {
	#Date {
		display: flex;
		align-items: flex-end;
		height: 110px;
		margin: 0;
		position: absolute;
		right: calc(50% - 430px);
		top: 0;
		font-size: 35px;
		max-width: 170px;
	}
}

.border {
	position: relative;
	border-radius: var(--border-radius);
	border-style: var(--border-style);
	border-color: var(--border-color);
	border-width: 1.5px;
	overflow: hidden;
}

.container {
	background-color: var(--color-bg);
	display: flex;
	min-height: 100%;
	position: relative;
	justify-content: flex-end;
}

.container-inner {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	align-items: center;
	max-width: var(--grid-width);
}

.container::before {
	content: "";
	background-image: var(--background-image);
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	filter: var(--background-filter);
	opacity: var(--background-opacity);
}

@media only screen and (max-width: 900px) {
	.container {
		flex-direction: column-reverse;
	}
}

.left-container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 360px;
	width: 280px;
	margin-left: 50px;
	-webkit-user-select: none;
	user-select: none;
	transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

@media only screen and (max-width: 900px) {
	.left-container {
		margin-left: 0;
		position: absolute;
		top: 7px;
		left: calc(50% - 220px);
		width: 110px;
	}
}

@media only screen and (max-width: 500px) {
	.left-container {
		visibility: hidden;
		opacity: 0;
	}
}

.right-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	-webkit-user-select: none;
	user-select: none;
}

.about {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	opacity: 0.15;
}

.about a {
	transition: color 0.25s ease-in-out;
}

.image {
	aspect-ratio: var(--image-aspect-ratio);
}

@media only screen and (max-width: 900px) {
	.image {
		aspect-ratio: 1/1;
	}
}

.image,
.image a {
	width: 100%;
	height: 100%;
}

.image a {
	filter: var(--image-filter);
	display: flex;
	background-image: var(--image);
	background-size: var(--background-size);
	background-position: var(--background-position);
}

.head,
.head-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 40px;
	-webkit-user-select: none;
	user-select: none;
}

body:not(.search) .head-search {
	display: none;
}
body.search .head {
	display: none;
}
@media only screen and (max-width: 900px) {
	body.search .right-container {
		margin-top: 127px;
	}
}
@media only screen and (max-width: 500px) {
	body.search .right-container {
		margin-top: 0;
	}
}
@media only screen and (max-width: 800px) {
	body.search .right-container {
		transition: 0.25s margin ease-in-out;
	}
}

.category {
	display: flex;
	flex-direction: column;
	width: 25%;
	flex: 1 1 auto;
	align-items: center;
}

.category > .slick-start {
	width: 180px;
}

@media only screen and (max-width: 1230px) {
	.category {
		width: 50%;
	}
}

@media only screen and (max-width: 400px) {
	.category {
		width: 100%;
	}
}

.bookmarks {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.right-container:hover .bookmarks a {
	transition: color 0.25s ease-in-out;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.links > ul:not(:first-child) {
	display: none;
}

.title {
	font-size: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	font-size: 16px;
	padding: 5px;
}

p {
	margin: 0 0 40px;
}

@media only screen and (max-width: 900px) {
	p {
		margin: 40px 0;
	}
}

a:link {
	text-decoration: none;
	color: var(--color-link);
}

a:visited {
	color: var(--color-link-visited);
}

a:hover {
	color: var(--color-link-hover);
}

.title a {
	color: var(--color-link-title);
}

/* Effects */
.fade-in {
	animation: fade-in ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.blur {
	filter: blur(4px);
	transition: filter 0.25s ease-in-out;
}

ul.blur:hover {
	filter: blur(0);
}

.blinking {
	animation: blinking 1s ease-in-out infinite;
	opacity: 1;
	position: relative;
	margin-left: 5px;
	order: 0;
}

/* Search */
body:not(.textarea) #search #search-textarea {
	display: none;
}
body.search.textarea #search #search-input {
	display: none;
}
#search {
	display: flex;
	position: relative;
	margin: 0 auto 40px;
	background: transparent;
	width: 100%;
	overflow: hidden;
}

#search p {
	display: flex;
	position: relative;
	margin: 0 20px;
	padding: 0;
	width: 100%;
}
@media only screen and (min-width: 901px) {
	#search p {
		margin: 0 20%;
	}
}
@media only screen and (max-width: 900px) {
	#search {
		margin: 30px 0 12px;
	}
}

#search .search-field {
	background: none;
	border: none;
	color: var(--color-fg);
	font-family: "Ubuntu";
	font-size: 40px;
	line-height: 46px;
	padding: 0;
	margin: 0;
	outline: none;
	order: 1;
	overflow: hidden;
	z-index: 1;
}

#search input[type="text"] {
	position: relative;
	height: 46px;
	left: -20px;
	text-indent: 1px;
}

#search textarea {
	width: 100%;
	height: calc(46px * 2 + 5px);
	position: absolute;
	left: 0;
	top: 0;
	resize: none;
	text-indent: 198px;
}

#search p > span.prefix {
	flex: 0 0 auto;
}

input[type="text"]:focus ~ span.blinking,
textarea:focus ~ span.blinking {
	opacity: 0;
	visibility: hidden;
}

.search:focus {
	outline: none;
}

/* Slick Buttons */
.slick-single-arrow .slick-prev,
.slick-single-arrow .slick-dots {
	opacity: 0;
	visibility: hidden;
}

.slick-single-arrow .slick-next {
	bottom: -18px;
	left: 50%;
	transform: translateX(-50%);
	top: unset;
}

/* Custom Scrollbar */
html {
	scrollbar-width: thin; /* Firefox 🥺 */
	scrollbar-color: var(--scrollbar-primary) var(--scrollbar-secondary); /* Firefox 😭 */
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: var(--color-fg);
	border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-image: linear-gradient(
		180deg,
		var(--scrollbar-primary) 0%,
		var(--scrollbar-secondary) 99%
	);
	box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

/* Keyframes */
@keyframes blinking {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
